/* Colors are taken from Adwaita theme */

:root {
  --view-bg-color: #1e1e1e;
  --view-fg-color: #fff;

  --accent-color: #78aeed;
  --accent-bg-color: #3584e4;
  --accent-fg-color: #fff;

  --error-color: #ff7b63;
  --error-bg-color: #c01c28;
  --error-fg-color: #fff;

  --card-bg-color: #252525;
  --card-fg-color: #fff;
  --card-shade-color: rgba(0,0,0,0.36);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Ubuntu,
    Cantarell,
    'Helvetica Neue',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    'Fira Sans',
    'Droid Sans',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
