@import './base.css';

/* Hide leaflet controls here, as they cannot be 
   controlled by the leaflet vue component */
.leaflet-control-container {
    display: none;
}

.live-dot {
    display: block;

    width: 10px;
    height: 10px;
    border-radius: 100%;

    background: var(--accent-color);
    animation: live-dot 1s ease-in-out infinite alternate-reverse;
}
.live-dot[active="false"] {
    visibility: hidden;
    animation: none;
}
@keyframes live-dot {
    0% {
        background: var(--accent-color);
    }
    100% {
        background: transparent;
    }
}
.current-time {
    position: absolute;
    z-index: 1000;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    top: 5px;
    right: 5px;
    min-width: 80px;
    
    padding: 5px 10px;
    border-radius: 5px;

    background: var(--card-bg-color);
    color: var(--card-fg-color);
    box-shadow: 0 0 5px var(--card-shade-color);
}